<ul>
    <li>Nombre: <%= @student.nombre %></li>
    <li>correo: <%= @student.correo%> </li>
    <li>programa: <%= @student.programa%></li>
    <li>Fecha de nacimiento: <%= @student.fecha_nacimiento %></li>
</ul>